@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Общие переменные цветов */
:root {
  --color-bg: #ffffff;        /* Основной цвет фона страницы (светлый режим) */
  --color-body: #e45da0;      /* Цвет текста основного содержимого */
  --color-primary: #8a2152;   /* Акцентный основной цвет интерфейса */
  --color-secondary: rgb(201, 160, 191);     /* Дополнительный акцентный цвет (красный)*/
}

/* Темная тема */
/* Данный класс применяется для изменения цветовой схемы страницы на тёмную тему путём переопределения стандартных цветов */
.dark-style {                   
  --color-bg: #252525;        /* Фон тёмного режима */
  --color-body: #e45da0;      /* Текст остаётся серым даже в тёмном режиме */
  --color-primary: ##8a2152;   /* Основная кнопка/акценты остаются такими же */
  --color-secondary: rgb(201, 160, 191);     /* Вторичный красный цвет сохраняется */
}

/* Основные стили HTML-элементов */
/* Здесь задаются основные настройки для всех страниц: шрифт, отступы, высота и фоновые свойства */
html,
body {
  height: 100%;       /* Полностью занимают доступную высоту окна браузера */
  overflow: hidden;   /* Убирает прокрутку вне рамки */
}

body {
  font-family: "Montserrat", serif;   /* Шрифт Montserrat используется везде */
  font-optical-sizing: auto;          /* Размер шрифта адаптируется автоматически */
  font-weight: 600;                   /* Жирность шрифта — полужирный */
  font-style: normal;                 /* Нормальное начертание шрифта */
  font-size: 16px;                    /* Базовый размер шрифта */
  letter-spacing: 2px;                /* Интервал между буквами (декоративный эффект) */
  color: var(--color-body);           /* Серый цвет текста по умолчанию */
  background-color: var(--color-bg);  /* Белый фон по умолчанию */

  margin: 0px 5%;                     /* Отступ слева и справа на 5% */

  display: flex;                      /* Гибкая структура для компоновки элементов */
  flex-direction: column;             /* Структура колонка сверху вниз */
  height: 100vh;                      /* Контейнер занимает всю видимую область экрана */

  background-image: url("./source/images/image_orel.png");  /* Изображение на фоне страницы */
  background-repeat: no-repeat;                             /* Изображение отображается один раз */
  background-size: 30%;                                     /* Фиксированный размер фонового изображения */
  background-position: bottom right 10%;                    /* Расположение внизу справа со смещением на 10% */
}

/* Оформление ссылок */
a {
  color: var(--color-body);         /* Стандартный серый цвет ссылок */
  text-decoration: none;            /* Без подчёркивания */
  
  &:hover {
    color: var(--color-primary);    /* Меняется цвет на синий */
    opacity: 80%;                   /* Немного прозрачнее */
    transition: color 0.3s;         /* Плавный переход цвета */
  }

  &.active {
    color: var(--color-primary);    /* Синяя активная ссылка */
  }
}

/* Списки */
ul {
  list-style: none;   /* Нет стандартных маркеров списка */
  padding: 0;         /* Удалены внутренние отступы */
  margin: 0;          /* Внешние отступы также удалены */
}

/* Шапка сайта */
.header {
  display: flex;                    /* Используется гибкий контейнер */
  justify-content: space-between;   /* Пространство распределяется равномерно между элементами */
  align-items: center;              /* Элементы выровнены вертикально по центру */
  height: 140px;                    /* Выставлена фиксированная высота шапки */

  &__list {
    display: flex;    /* Горизонтальная компоновка пунктов меню */
    gap: 40px;        /* Расстояние между пунктами меню */
  }

  &__language {       
    display: flex;    /* Группировка переключателей в ряд */
    gap: 20px;        /* Небольшое пространство между ними */
  }
}

h1 {
  font-size: 48px;    /* Размер шрифта равен 48 пикселей */
  margin: 0px;        /* Убираем внешние отступы вокруг заголовка */
}

.main {
  flex-grow: 1;         /* Растягивается на оставшуюся высоту окна */
}

.main,
.welcome {
  display: flex;        /* Гибкая структура для компоновки элементов */
  align-items: center;  /* Центровка по вертикали */
}

.welcome {
  .container {
    margin: 0% 0% 0% 10%; /* Левый отступ 10% */
    width: 100vh;         /* Ширина контейнера равна высоте видимой области */
  }
}

/* Подвал */
.footer {
  display: flex;                    /* Гибкая структура для компоновки элементов */
  align-items: center;              /* Центровка по вертикали */
  justify-content: space-between;   /* выравнивание по горизонтали (space-between – одинаковое расстояние между всеми элементами) */
  height: 100px;                    /* Фиксированная высота подвала */
}

/* Социальные сети */
.social_network {
  display: flex;            /* Гибкая структура для компоновки элементов */
  gap: 30px;                /* Промежуток между иконками */

  svg {
    fill: var(--color-body);        /* По умолчанию используют стандартный цвет текста */

    &:hover {
      fill: var(--color-primary);   /* При наведении мыши меняются на акцентный цвет */
      transition: f;                /* Плавный переход цвета заливки */
    }
  }
}

/* Переключатель стиля (темная и светлая тема) */
.switch-style {
  display: flex;            /* Центрирование кнопки переключателя */
  align-items: center;      /* Для центрирования по вертикали */
  justify-content: center;  /* Горизонтальное выравнивание */
  margin-right: 10px;       /* Правый отступ для удобства размещения */

  button {
    padding: 15px 20px;                               /* Внутренний отступ кнопки */
    background-color: var(--color-bg);                /* Цвет кнопки */
    border-radius: 10px;                              /* Скругленные углы */
    box-shadow: 0px 0px 10px rgba(22, 22, 22, 0.5); /* Тень вокруг кнопки */
  }

  .active {
    color: var(--secondary-color);  /* Красная активная ссылка */
  }
}

/* Стиль кнопок */
button {
  background: none;                   /* Прозрачный фон */
  border: none;                       /* Отсутствие границ */
  margin: 0;                          /* Никаких внешних отступов */
  padding: 0;                         /* Без внутренних отступов */
  cursor: pointer;                    /* Курсор становится пальцем при наведении */
  font-family: "Montserrat", serif;   /* Наследует семейство шрифтов от родительского элемента */
  font-weight: 600;                   /* Полужирный шрифт */
  font-size: 16px;                    /* Размер шрифта 16 пикселей */
  letter-spacing: 2px;                /* Междубуквенный интервал 2 пикселя */
  color: var(--color-body);           /* Цвет текста совпадает с основным цветом */

  &:hover {
    color: var(--color-primary);      /* При наведении меняет цвет */
    opacity: 80%;                     /* Повышает прозрачность при наведении */
    transition: color 0.3s;           /* Плавный переход, длится 0.3 секунды */
  }

  &.active {
    color: var(--color-primary);      /* Если кнопка активна, она окрашивается в первичный цвет */
  }
}

/* Специфические кнопки */
.welcome__btn {
  margin-top: 50px;                         /* Верхний отступ */
  padding: 15px 20px;                       /* Внутр. отступы (вертикальные/горизонтальные) */
  border-radius: 10px;                      /* Скруглённые края */
  background-color: var(--color-primary);   /* Синяя кнопка */
  color: var(--color-bg);                   /* Белые буквы на синем фоне */
  border: none;                             /* Без границы */
  font-size: 16px;                          /* Размер шрифта */
  font-family: "Montserrat", serif;         /* Шрифт */
  font-weight: 600;                         /* Полужирный шрифт */
  letter-spacing: 2px;                      /* Междубуквенный интервал 2 пикселя */

  &:hover {
    color: var(--color-bg);                 /* При наведении меняет цвет */
    transition: background-color 0.3s;      /* Плавный переход, длится 0.3 секунды */
    opacity: 80%;                           /* Прозрачность */
  }
}

/* Мобильная версия меню */

/* При открытии меню первая полоса поднимается вверх и вращается вправо (+45 градусов), 
вторая линия исчезает (за счёт тени), третья опускается вниз и поворачивается влево (-45 градусов), 
создавая крестообразный рисунок. */

.header__burger {
  display: none;            /* Изначально скрыт */
}

.burger-checkbox {
  position: absolute;       /* Позиционирование абсолютно относительно родителя */
  visibility: hidden;       /* Невидимый элемент чекбокс */
}
.burger {
  position: relative;       /* Позиция относительно себя */
  z-index: 1;               /* Переносится поверх других элементов */
  cursor: pointer;          /* Показывает руку при наведении */
  display: block;           /* Видимость меню */
  border: none;             /* Без рамок */
  background: transparent;  /* Прозрачный фон */
  width: 40px;              /* Ширина кнопки-меню */
  height: 26px;             /* Высота кнопки-меню */
}
.burger::before,
.burger::after {
  content: '';                    /* Создаем псевдоэлемент */
  left: 0;                        /* Расположены слева */
  position: absolute;             /* Абсолютное положение внутри кнопки */
  display: block;                 /* Превращаем элементы в блоки */
  width: 100%;                    /* Полосы занимают всю ширину кнопки */
  height: 2px;                    /* Толщина каждой линии */
  border-radius: 10px;            /* Скругление краев полос */
  background: var(--color-body);  /* Цвет полос совпадает с текстом */
}
.burger::before {
  top: 0;                                   /* Первая линия вверху */
  box-shadow: 0 11px 0 var(--color-body);   /* Вторая линия создается теневым эффектом */
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;    /* Третья линия снизу */
  transition: bottom .3s .15s, transform .3s;
}
/* Изменение поведения при проверке чекбокса (открытие меню) */
.burger-checkbox:checked + .burger::before {
  top: 11px;                            /* Первая линия перемещается ближе ко второй */
  transform: rotate(45deg);             /* Ротация первой линии на 45 градусов */
  box-shadow: 0 6px 0 rgba(0,0,0,0);  /* Исчезновение второй линии */
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;                         /* Третья линия двигается к верхней полосе */
  transform: rotate(-45deg);            /* Ротация третьей линии на -45 градусов */
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;                 
  left: 0;
  position: absolute;               /* Абсолюта позиция */
  display: grid;                    /* Используем сетку для распределения элементов */
  gap: 12px;                        /* Интервал между пунктами меню */
  padding: 42px 0;
  margin: 0;
  background: var(--color-bg);      /* Задний фон */
  list-style-type: none;            /* Убираем маркеры списка */
  transform: translateX(-100%);     /* Сдвиг */
  transition: .3s;                  /* Скорость анимации перемещения */
  width: 100vh;                     /* Окно меню растянуто по высоте экрана */
  height: 100vh;                    /* Окно меню растянуто по ширине экрана */
  align-items: center;              /* выравнивание по вертикали */
}
.menu-item {
  display: block;             /* Каждый пункт представлен отдельным элементом */
  padding: 8px;               /* Отступы вокруг пункта */
  color: var(--color-body);   /* Цвет текста аналогичен основному цвету текста */
  font-size: 16px;            /* Размер шрифта 16 пикселей */
  text-align: center;         /* Текст выровнен по центру */
  text-decoration: none;      /* Отключить подчеркивания */
}
.menu-item:hover {
  background: rgba(255,255,255,.2)    /* При наведении подсветка белого цвета */
}
/* Открытие меню (при активации чекбокса): */
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);   /* Перемещает меню на переднюю сторону экрана */
}

/* Адаптация для малых экранов (медиазапрос @media) */
@media (max-width: 1300px) {
  
  .header__list {
    /* Прячем основное меню на маленьком экране */
    display: none;
  }

  .header__burger {
    /* Появляется бургур-меню */
    display: block;
  }
}